@media screen and (max-width: 360px) {
    .html, .body{
        max-width: 360px;
      }
      /* Header */
      .header-container{
        width: 360px;
      }
    
      /* RedheartdayComponet Tablet*/
      .Redheartday-wapper{
        width: 360px;
      }
    
      .BrandStory-360 {
        width: 360px;
      }
    
      .ourvalue-wapper {
        width: 360px;
      }
    
      .text-wapper {
        width: 360px;
      }
    
      .Ouractivity-Componet {
        width: 360px;
      }
    
      .title-wapper{
        width: 360px;
      }
    } 