/* .photo-container {
    width: 1244px;
    height: 660px;
}

/* 모바일 환경을 위한 미디어 쿼리 */
/* @media screen and (max-width: 768px) {
    .dailyredheartimg {
        width: 600px; /* 원하는 너비로 조정 */
    /* } */
/* } */