

/* footer */
.footer{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #211714;
    color: #fff;
    bottom: 0;
  }
  
  .Footer-List{
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .Footer-Text{
    width: 400px;
    align-content: center;
  }
  
  .Logo-Icon{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

