/* 전체를 감싸는 div */
.Gallery-Componet{
}

.grid-container {
    display: grid;
}

/* 내부 컨테이너 */
.grid-innercontainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* 갤러리 컨테이너 */
.gallery {
    justify-content: center;
    position: relative;
    display: grid;
    overflow-y: auto; /* 스크롤을 위한 속성 */
    grid-template-columns: repeat(3, 420px); /* 420px 컬럼 3개 */
    grid-auto-rows: 670px; /* 기본 행 높이 */
    gap: 5px; /* 행과 열 간격 */
    margin-bottom: 100px;
}

/* 넓은 이미지를 위한 클래스 */
.wide-img {
    grid-column: span 2; /* 두 컬럼을 차지 */
}

/* 작은 이미지를 위한 클래스 */
.small-img {
    grid-column: span 1; /* 한 컬럼만 차지 */
}

/* 각 이미지의 기본 스타일 */
.festivalimage {
    width: 100%; /* 이미지가 차지하는 영역 전체 넓이 */
    height: 100%; /* 이미지가 차지하는 영역 전체 높이 */
    background-size: cover; /* 이미지가 전체를 덮도록 */
    background-position: center; /* 이미지가 가운데에 위치하도록 */
}

/* 첫 번째 이미지를 위한 클래스 */
.first-img {
    grid-row: 1; /* 첫 번째 행에 배치 */
    grid-column: span 3; /* 세 컬럼을 차지 */
}
