.scroll-container {
    text-align: center;
    /* padding: 20px;
    position: relative; */
}

.iframe-container {
    background-color: #000;
    margin-bottom: 20px;
    transition: width 0.9s, height 0.9s;
    overflow: hidden;
}

.iframe-container{
    width: 30rem;
    height: 40rem;
}

.marquee {
    width: 100%;              /* Set width to 100% */
    overflow: hidden;         /* Hide overflow */
    white-space: nowrap;      /* Prevent text wrapping */
    position: relative;       /* Set position to relative */

    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    color: #BBBBBB;
}

.Marquee-Text{
    word-spacing: 2.8vw;
}