.Ourvalue {
    background-color: #cb0101;
    padding: 50px 0;
}

.Title-Componet-Main{
    font-weight: 400;
    font-size: 110px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
}

.Title-Componet-Sub{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #F6F6F6;

}

.OurValue-Main-Title {
    height: 68px;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #f6f6f6;
}

.OurValue-Sub-Title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #f6f6f6;
}

.OurValue-Text {
    text-align: center;
    align-content: center;
}

.OurValue-Componet {
    height: 720px;
    align-items: center;
    display: grid;
    justify-content: center;
    grid-gap: 50px;
}

.OurValue-Love {
    grid-row: 1;
    grid-column: 1;
}

.OurValue-Share {
    grid-row: 1;
    grid-column: 2;
}

.OurValue-Rejoice {
    grid-row: 2;
    grid-column: 1;
}

.OurValue-Spread {
    grid-row: 2;
    grid-column: 2;
}
