.text-wapper{
    height: 105.5vh;

}
.OurValue-Componet-text{
    text-align: center;
    line-height: 10vh;
}
.ourvalue-main-text, .ourvalue-sub-text,
.OurValue-Main-Title, .OurValue-Sub-Title{
    color:  #cb0101;

}
.OurValue-Main-Title {
    height: 7.5;
    font-weight: 400;
    font-size: 6vw;
    /* line-height: 68px; */
    text-align: center;
}

.OurValue-Sub-Title {
    font-size: 1.5vw;

}

.OurValue-Componet{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, 20rem);
}

.love-text{
    grid-row: 1;
    grid-column: 1;
}

.share-text{
    grid-row: 2;
    grid-column: 2;
}

.rejoice-text{
    grid-row: 3;
    grid-column: 1;
}

.spread-text{
    grid-row: 4;
    grid-column: 2;
}
