.title-wapper{
    width: 100vw;
    padding: 70px 0px;
}

.scroll-container {
    display: flex;
    justify-content: center; /* 수평 중앙 */
    align-items: center; /* 수직 중앙 */
    width: 100vw; /* 전체 화면 너비를 설정 */
}

.redheartday-wapper{
    width: 100vw;

}

