.Icon-Componet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 2.5vw;
}
.icon{
    font-size: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 48px;
}