html, body {
    overflow-x: hidden; /* 수평 스크롤 방지 */
}
.Img-Slide{
    margin: 50px;
}

.BrandStoryMain-Content {
    background-image: url('../../public/brandImg/brandStoryMainimg.jpg');
    background-size: cover; /* 'contain' 대신 'cover' 사용 */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 배경 이미지 고정 */
    background-position: center; /* 배경 이미지 위치 조정 */
    position: relative; /* 배경 이미지와 텍스트를 상대적으로 위치시킴 */ 
}

.BrandStoryMain-Text {
    justify-content: center;
    
    height: 100vh; /* 화면 높이에 맞춤 */
    width: 100vw; /* 화면 너비에 맞춤 */
    overflow: hidden; /* 스크롤바 숨김 */
    display: grid;
    place-content: center;
}

.BrandStoryMain-Text > p{
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    /* color-white */
    color: #FFFFFF;
}

.BrandStoryMain-zoom-out{
    width: 700px;
    height: 700px;
    background-size: contain; /* 'contain' 대신 'cover' 사용 */
    background-repeat: no-repeat; 
}
/* 전체를 감싸는 컨테이너 */
.Brandstory-Gallery-Group {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    /* gap: 4rem; 위아래 간격 */
    margin: 40px;
}

/* 가운데에 들어갈 3개 섹션을 감싸는 컨테이너 */
.Brandstory-Gallery-Center {
    display: flex;
    justify-content: center; /* 왼쪽, 가운데, 오른쪽 섹션 사이에 공간 확보 */
    gap: 1rem; /* 각 섹션 간의 간격 */
    margin: 10px;
}

.Brandstory-Gallery-Middle {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 이미지 간의 간격 */
}

/* 같은 줄에 있는 이미지를 감싸는 컨테이너 */
.Brandstory-Gallery-Middle-Row {
    display: flex;
    gap: 1rem; /* 이미지 간의 간격 */
}

/* 왼쪽 섹션 */
.Brandstory-Gallery-Left {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 이미지 간의 간격 */
}

/* 가운데 섹션 */
.Brandstory-Gallery-Middle {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 이미지 간의 간격 */
}

/* 오른쪽 섹션 */
.Brandstory-Gallery-Right {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 이미지 간의 간격 */
}

/* 아래쪽 섹션 */
.Brandstory-Gallery-Bottom {
    display: flex;
    justify-content: center; /* 이미지가 가운데로 정렬되도록 설정 */
    gap: 1rem; /* 이미지 간의 간격 */
}
