
.Image{
    display: flex;
    justify-content: center;
}


.Ouractivity-Image{
    display: flex;
    justify-content: center;
    height: 820px;
    align-items: center;
}
.Ouractivity-Title{
    text-align: center;
    padding: 160px 0px 0px;
}
.Our-Sub-Title{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #999999;
}

.Our-Main-Title{
    font-weight: 400;
    font-size: 64px;
    line-height: 86px;
    color: #211714;
}
